# Financial Accounting with Python


## Python Basics

This file will show you the basics of programming in the Python language.  Python is dynamically typed, which means you can name things however you want, spelling matters when you want to reuse a variable or function as the name has to match.

- Python syntax is based on indentation for some things, this is important to keep in mind.

## Variables

variables are names to store data. If you have a long variable name, use _ to keep the words together. 

- var_name_example

Rules for variables:

- cannot start with .
- cannot start with a number or special character

In [6]:
i_am_a_variable = "variable string"

var = 3
var_1 = 8

## Data types

```
Text Type:	       str (string)
Numeric Types:	   int, float, complex
Sequence Types:	  list, tuple, range
Mapping Type:	    dict
Set Types:	       set, frozenset
Boolean Type:	    bool
Binary Types:	    bytes, bytearray, memoryview
None Type:	       NoneType
```

## Strings

Strings are typically letters but anything can be a string, as a string is _anything_ inside " " or ' ' quotation marks. Strings are stored inside a `variable` which you get to name whatever you want. Note: _some words are reserved and cannot be used; while, if, break, else, etc_. If you use a reserved word you get an error and will not be able to run your code.

In [10]:
stringy = "pasta string"

chartered_accountant = "Jane Doe"

string_number = "788"  # this is not equivalent to the integer 788

financial, accounting, department = "Gets", "a", "raise!"

print(financial)
print(accounting)
print(department)

Gets
a
raise!

In [11]:
# instead of using the print function 3 times we can concatenate the 3 strings
print(financial + accounting + department)

Getsaraise!

In [13]:
# let us redo this but add ' ' between each word
print(financial + ' ' + accounting + ' ' + department)

Gets a raise!

In [16]:
# one more time but save it as a variable and add string_number

# NOTE: raise is a reserved word !

raises = financial + ' ' + accounting + ' ' + department

print(raises + ' $' + string_number) # use the variable from above

Gets a raise! $788

## Numbers (int and float)

- `int` are numbers without a decimal point value (233)
- `float` are numbers with a decimal point value  (233.455)

In [19]:
# variable values can be changed
x = 67721
y = 89776.899

# in Jupyter Notebooks print() is optional for single equations or output
x + y

157497.899

In [25]:
# unlike in Excel where you can use a comma for large numbers, you cannot in Python
# you can use _ to make the numbers human readable 

million = 1_000_000.00  

two_million = 2e6 # can use scientific notation as well

print(million, two_million)

1000000.0 2000000.0

### String formatting and rounding numeric values

- string formatting allows for reusable code and simpler code to write. Learning it now will help build the skill. Formatting uses the syntax f" " inside a print function with { } to store the variable name
- rounding numbers when you want to only show numeric values that have limited decimal places

In [48]:
#------------------------ string formatting
accountant_name = "Jane"

print(f"Hello new Python accountant {accountant_name}")

print("Did you meet {name} ?".format(name="Jessica"))

Hello new Python accountant Jane
Did you meet Jessica ?

In [49]:
# ----------------------- number formatting
assets = 167552.89
liabilities = 12332.0877766

print('$ {:.0f}'.format(liabilities))  # .0f means 0 floating point numbers
print('$ {:.1f}'.format(liabilities))  # .1f means 1 floating point numbers
print('$ {:.2f}'.format(liabilities))  # .2f means 2 floating point numbers

$ 12332
$ 12332.1
$ 12332.09

In [50]:
print("$ {:,}".format(assets))

$ 167,552.89

In [51]:
# round the numeric value
assets = round(assets,1)
print("$ {:,}".format(assets))

$ 167,552.9

## Lists

Python lists are very useful and are also known as arrays (when using the NumPy library), and can store various data items, duplicates are allowed which is important to know. Lists can be empty and the values can be changed (mutable).

IMPORTANT TO KNOW : 
- every list, dictionary, set and string all start at 0 zero not 1, start counting at 0 or use `n - 1` to get the correct index value

In [59]:
accounting_list = ['shareholders equity',233, True,"liabilities", 99]
print(accounting_list)

['shareholders equity', 233, True, 'liabilities', 99]

In [60]:
# get the 2nd item (element) from list, remember n -1 for index
accounting_list[1]

233

In [61]:
# get the last element from list, 
#  --- trick is to use -1 which is the last element
accounting_list[-1]

99

In [62]:
# get the second last element
# --- same trick, think of it "2 from the end"
accounting_list[-2]

'liabilities'

You can change an element in the list

In [65]:
accounting_list[3] = "purchases"
accounting_list

['shareholders equity', 233, True, 'purchases', 99]

get more than 1 element from a list

In [66]:
accounting_list[0:3]

['shareholders equity', 233, True]

find out how long the list is, how many elements are inside the list

In [67]:
len(accounting_list)

5

add elements to a list, by default it is added at the end

In [74]:
accounting_list.append("income sheets")
accounting_list

sheet1 = ["Accounts payable","debts receivable","credit payable"]
sheet2 = ["balance sheet","assets & liabilities"]

sheet1.extend(sheet2)
sheet1

['Accounts payable',
 'debts receivable',
 'credit payable',
 'balance sheet',
 'assets & liabilities']

can delete element from a list. we will remove 'True' from index 2

In [84]:
# PYTHON WILL KEEP REMOVING ELEMENTS FROM YOUR LIST IF YOU RUN THIS CELL MORE THAN ONCE

# accounting_list.pop(-1)

In [85]:
accounting_list

['shareholders equity', 233, 99, 'income sheets', 'income sheets']

## List For Loops 

For loops are functions that will iterate over a Python object such as a list or dictionary, dataframe or even a string. For loops are important to know and are essential for becoming efficient in programming. 

If you have a list of assets and quickly want to print them out to see what they are or perform a math function for loops are what to use

client_assets = ['boat','house','fancy car','comic book collection','stocks']

for x in client_assets:  # x can be anything you want to name
    print(x)

if you have a long list and want to know the index of where comic book collection was, use the function `range` and `len()` length

In [89]:
# range( length of the named list )
#    print list elements

for money in range(len(client_assets)):
    print(client_assets[money])

boat
house
fancy car
comic book collection
stocks

### While loops 

!! CAUTION !! 

While loops can easily be made to run for eternity. You need to be careful you have a condition for the loop to break out of the cycle, otherwise your code will keep running and freezing up or crashing your computer.

In [95]:
# i is short for index
i = 0

# while i is less than the length of list KEEP LOOPING
while i < len(client_assets): 
    print(client_assets[i])
    i = i + 1               # updates the i by 1

boat
house
fancy car
comic book collection
stocks

Lists can be sorted and organized in reverse order

In [99]:
common_assets = ['z item','investments','cash','inventory','supplies']
dividends_paid = [100,1001.1,1020,101,300,301,90,9]

common_assets.sort()
print( common_assets )

dividends_paid.sort()
print( dividends_paid )

['cash', 'inventory', 'investments', 'supplies', 'z item']
[9, 90, 100, 101, 300, 301, 1001.1, 1020]

In [102]:
common_assets.sort(reverse=True)
print( common_assets )

dividends_paid.reverse()
print( dividends_paid )

['z item', 'supplies', 'investments', 'inventory', 'cash']
[1020, 1001.1, 301, 300, 101, 100, 90, 9]

## Tuples

Tuples store data but are immutable and tuples index each element.

In [109]:
gifts = ('Subway sandwich gift card','Starbucks coffee gift card','Apple iTunes gift card')

# get 2nd element
print( gifts[1], "\n" )    #  "\n" means newline

# splice through gifts
print( gifts[2:3], "\n" )

# loop through tuple
for xmas in gifts:
    print(xmas)

Starbucks coffee gift card

('Apple iTunes gift card',)

Subway sandwich gift card
Starbucks coffee gift card
Apple iTunes gift card

## Sets

Sets and dictionaries both use { }, but sets are immutable, but elements can be added or dropped. Sets are unordered and not indexed. Sets do not allow duplicates to exist in the set.

In [111]:
taxes = {2015,2016,2017,2018}

# add element to set, if adding from another set use update()
taxes.add(2099)
print(taxes)

{2016, 2017, 2018, 2099, 2015}

In [112]:
taxes.remove(2099)
taxes

{2015, 2016, 2017, 2018}

In [114]:
for year in taxes:
    print(f"finished with taxes for {year}")

finished with taxes for 2016
finished with taxes for 2017
finished with taxes for 2018
finished with taxes for 2015

## Dictionaries 

Dictionaries are ordered, mutable and have `keys` and `value` pairs. 

- Dictionaries do not permit duplicates of keys. 
- Dictionaries are not indexed, need to get elements by key or by value.

In [1]:
#     key : value
all_assets = {
    "cash": 300322.78,
    "inventory": 7886.23,
    "supplies": 56234.56,
    'prepaid expenses': 14560
}

all_assets

{'cash': 300322.78,
 'inventory': 7886.23,
 'supplies': 56234.56,
 'prepaid expenses': 14560}

In [10]:
all_assets['cash'] # get 'cash' element from dictionary to see its' value

300322.78

In [9]:
# length of dictionary
len( all_assets )

4

In [15]:
# print out all the items in the dictionary
all_assets.items()

dict_items([('cash', 300322.78), ('inventory', 7886.23), ('supplies', 56234.56), ('prepaid expenses', 14560), ('property', 788655)])

In [11]:
# get just the dictionary keys
assets_keys = all_assets.keys()
assets_keys

dict_keys(['cash', 'inventory', 'supplies', 'prepaid expenses'])

In [12]:
# add a key-value pair to a dictionary
all_assets['property'] = 788655

all_assets

{'cash': 300322.78,
 'inventory': 7886.23,
 'supplies': 56234.56,
 'prepaid expenses': 14560,
 'property': 788655}

In [13]:
# get just the values from the dictionary
asset_values = all_assets.values()
asset_values

dict_values([300322.78, 7886.23, 56234.56, 14560, 788655])

In [16]:
# check if element is inside the dictionary
if "supplies" in all_assets:
    print(" 'supplies' is in the assets dictionary")

 'supplies' is in the assets dictionary

In [21]:
# remove element from dictionary
# all_assets.pop("prepaid expenses")   # commented, already run

In [22]:
all_assets

{'cash': 300322.78,
 'inventory': 7886.23,
 'supplies': 56234.56,
 'property': 788655}

### Dictionary For Loop

In [32]:
# get dictionary keys
for wealth in all_assets:
    print( wealth )

cash
inventory
supplies
property

In [41]:
# get values in dictionary
for DunderMifflin in all_assets:
    print(f" Dunder Mifflin assets $ { all_assets[ DunderMifflin ] }  [ {DunderMifflin} ]" )

 Dunder Mifflin assets $ 300322.78  [ cash ]
 Dunder Mifflin assets $ 7886.23  [ inventory ]
 Dunder Mifflin assets $ 56234.56  [ supplies ]
 Dunder Mifflin assets $ 788655  [ property ]

In [34]:
# for loop to get values
for Exxon in all_assets.values():
    print(f" Exxon assets $ {Exxon} ")

 Exxon assets $ 300322.78
 Exxon assets $ 7886.23
 Exxon assets $ 56234.56
 Exxon assets $ 788655

Once you have a dictionary to hold all assets of a company, you can make a copy of it which will allow changes to be made on new copy and keeping original safe from modification.

In [50]:
# original dictionary
print(f"original: {all_assets}" )

assets_2 = all_assets.copy()  # make a copy of all_assets dictionary
print(f"copy: {assets_2}" )

assets_2['yacht'] = 109988

print('.....',assets_2)

original: {'cash': 300322.78, 'inventory': 7886.23, 'supplies': 56234.56, 'property': 788655}
copy: {'cash': 300322.78, 'inventory': 7886.23, 'supplies': 56234.56, 'property': 788655}
..... {'cash': 300322.78, 'inventory': 7886.23, 'supplies': 56234.56, 'property': 788655, 'yacht': 109988}

## Conditions. (If-Else Statements)

You saw above briefly how a simple if statement works to check if 'supplies' is a key inside a dictionary. 
Conditional statements are core to programming logic and using them is essential for automating tasks.

- Equals: a == b
- not equal  a != b
- less than  a < b
- less than or greater than   a <= b
- greater than a > b
- greater than or equal to   a >= b


Note: if-Else statement is where _indentation_ matters !

In [51]:
revenue = 110
expenses = 120

if revenue > expenses:
    print('you got money')
else:
    print('expenses !')

expenses !

let's make this one more level better, include a breakeven point which can use the '==' and use the
`elif` syntax for "else if" to mean if first condition is not true keep checking down the if-else structure. You can have as many 'elif'

In [52]:
revenue = 110
expenses = 110

if revenue > expenses:
    print('you got money')
elif revenue == expenses:
    print(' breakeven point')
else:
    print('expenses !')

 breakeven point

## Functions 

Functions are so important to know, they will help you be more efficient and more productive with your time. If you are doing a task more than 3 times, it is wise to make that task into a function. Accounting has so many mundane routine calculations that learning to make functions will make accounting fun and fast.

In Python, a function starts with `def` followed by a function name you provide, () then a : and your code is indented underneath the '`def function_name():`'

- Inside the `function_name( arguments )` . These arguments are what you pass into the function, you can pass in an array or a dictionary . You do not have to pass in anything.

Note: in many Python documentation guides you will see 'func' for naming a function, along with 'foo' and 'bar'

In [56]:
# create a simple function
def my_function():
    print('hi, my first function!')
    
    
# -- outside the indentation of function

# IMPORTANT TO "CALL" YOUR FUNCTION, type name of function
my_function()

hi, my first function!

In [57]:
# create a simple function that takes 1 argument
def my_function( job ):
    print(f"your magic is {job}")
    
# call your function and ENTER YOUR ARGUMENT, use " "
my_function("Accounting")

your magic is Accounting

make a function to calculate net (loss) income, which takes in 2 arguments, the revenue and expenses

- you can enforce data types into your arguments so if you want _only_ numeric values and not strings to be entered into your function, use `arg_name : int` , `arg_name : float`. This helps reduce code errors.

- if you type: net_income(expenses= "900", revenue=78)  == ERRORS

In [60]:
def net_income(revenue: int, expenses: int):
    # formula for net income
    net = revenue - expenses
    
    print(f"Net (loss) income = $ {net}")
        
# call function with arguments of type integer
net_income(revenue= 178900, expenses= 167000)

Net (loss) income = $ 11900

#### Pass in a list or array into a function

In [66]:
def number_crunch( assets ):
    # for loop to print elements in array
    for x in assets:
        print(f" {x} ... checked")
        
    # outside the loop
    l = len(assets)
    print(f"length of assets: {l}")

    
    
# have a list/array 
common_assets = ['z item','investments','cash','inventory','supplies']

# call the function
number_crunch( common_assets )

 z item ... checked
 investments ... checked
 cash ... checked
 inventory ... checked
 supplies ... checked
length of assets: 5

#### Pass in a dictionary as function argument

In [72]:
def the_count( acc_dict ):
    #------ convert dictionary to a list
    dict_list = list(acc_dict.values() )
    #-- for loop of values
    for num in dict_list:
        print(num)
    
    # sum the assets
    s = sum( dict_list )
    print("sum of assets = $ {:,}".format(s))

# use the assets_2 dictionary from above
the_count( assets_2 )

300322.78
7886.23
56234.56
788655
109988
sum of assets = $ 1,263,086.57

---
Thus far you have learned how to 
- store data in a list and a dictionary
- how to make for loops and 
- how to make functions. 

This means that every time you want to tally up assets all you would need to change is the values (if not the keys and values) then call the function. You can run this function as many times as you want and can be used elsewhere in your program.

---

## Python Classes/ objects

If you have understood how a function works in its basic form and simple uses, then the next level to understand is Classes. Classes are very similar to functions in how they work, but classes have inheritance where functions can call other functions or itself (recursion). 

In Python to create a class object: `class Class_name():`. Class names should be names with a capital letter, as that indicates this is a class object and not a function, follow this rule and make life easier on yourself.

Make a simple class object

In [74]:
class Simple_class:
    # class property
    class_property = "property value"
    
# ----- important
# similar to calling functions but this is called INSTANTIATE or 
# creating an OBJECT INSTANCE of the class
obj = Simple_class()

# now that there is an object we can get properties from the class
obj.class_property

'property value'

---
Next level of understanding a class is to use a Human as a class object with 2 properties (for simplicity) name and age

most classes (ones beyond simple) have a special function that has `def __init__(self)` which is strange and hard to understand at first. What this function does is make the arguments you pass in when you **instantiate** the class can be used in various class function which are now called **methods**.

In [88]:
class Human:
    def __init__(self, name, age): # class self referencing arguments
        self.name = name
        self.age = age    # self.name = name  declares the argument 
    
    # class method  -- (function)
    def love(self):
        print(f"it is important to love yourself {self.name}")
        
    """
        you can have as many methods in a class as you need/ want
    """

In [89]:
# instantiate the Human class
Alex = Human(name="Alex", age= 27)

# get the Human class properties
print( Alex.name )
print( Alex.age )

Alex
27

In [90]:
# call the class method using the Alex named object
Alex.love()

it is important to love yourself Alex

### Class inheritance

Class inheritance builds ontop on functions and classes, classes can inherit properties and methods from 
another class. Once you make a class you can copy its contents into a new class which is massive time savings and efficient programming. 

The original class you make is referred to as the "Parent" and the new class that inherits from the "Parent" is the "Child" class.

**NOTE !! : you MUST pass in `self` in every method within your class** as first argument to avoid errors.

In [117]:
# ----- PARENT CLASS
class BasicAccounting:
    def __init__(self, name):
        self.name = name
    
    def net_income(self,revenue: int, expenses: int):
        net = revenue - expenses
        print("Net income = $ {:,}".format(net))
        
    def sum_liabilities(self, liabilities ):
        liab_list = list( liabilities.values() )
        sum_liab = sum(liab_list)
        print("Liabilities sum = $ {:,}".format(sum_liab))

In [119]:
basic = BasicAccounting('Joan')  # no arguments to pass in

# call Parent class method
basic.net_income(8997, 1233)

liabilities = {'bank debt':8976, 'accounts payable':6778, 'unearned revenue': 5644}
basic.sum_liabilities(liabilities)

Net income = $ 7,764
Liabilities sum = $ 21,398

In [168]:
# ------ CHILD CLASS  (INHERITANCE)
class MidLevelAccounting( BasicAccounting ): # inherit from BasicAccounting
    # child class arguments
    def __init__(self, name, company):
        self.name = name
        self.company = company
        
        # inherit all Parent class methods & properties
        super().__init__(name) # the same arguments passed in the Parent class
        
    def ask_for_raise(self):
        print(f"Asking for a raise on behalf of {self.name}")
        
    def email(self):
        print(f"contact info: {self.name}@{self.company}.com")

In [170]:
# instantiate the child class
mid_level = MidLevelAccounting('Joan','KPMG')

# call the child method
mid_level.ask_for_raise()

mid_level.email()

# can call parent class methods
mid_level.net_income(123988, 56777)

Asking for a raise on behalf of Joan
contact info: Joan@KPMG.com
Net income = $ 67,211