# Pandas and excel

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "Store":[12,34,333,67,78,89],
        "items": [122,566,744,899,233,155],
        "region":[1,2,1,2,2,1]
    }
)
df

   Store  items  region
0     12    122       1
1     34    566       2
2    333    744       1
3     67    899       2
4     78    233       2
5     89    155       1

save the Pandas dataframe as a Excel data frame

In [9]:
# !pip3 install openpyxl

In [11]:
# import openpyxl
df.to_excel("pythonexcel.xlsx", 
    sheet_name="sheet1", index_label=None)

load Excel file

In [17]:
exdf = pd.read_excel("./pythonexcel.xlsx", 
    index_col=0, 
    dtype= {"Store":int, "items":float,"region":str }, 
    comment='#')

exdf

   Store  items region
0     12  122.0      1
1     34  566.0      2
2    333  744.0      1
3     67  899.0      2
4     78  233.0      2
5     89  155.0      1

change values `at` dataframe cell

In [46]:
exdf.at[0,'items'] = 899
exdf.at[12,'Store'] = 344

# delete a column
# exdf.drop(labels='store', axis= 1, inplace= True)

In [47]:
exdf

    Store  items region
0    12.0  899.0      1
1    34.0  566.0      2
2   333.0  744.0      1
3    67.0  899.0      2
4    78.0  233.0      2
5    89.0  155.0      1
12  344.0  500.0      1

## row manipulation between columns

In [50]:
exdf.at[2,'items'] = exdf.at[2,'items'] - exdf.at[2,'Store']

row 2 items from 744 to 411

In [67]:
import numpy as np

exdf.at[4,'Store'] = exdf.at[4,'Store'] * np.random.randint(1,11)

In [65]:
# exdf.drop(labels="proportion", axis=1, inplace=True)

In [68]:
exdf

     Store  items region
0     12.0  899.0      1
1     34.0  566.0      2
2    333.0  411.0      1
3     67.0  899.0      2
4   9360.0  233.0      2
5     89.0  155.0      1
12   344.0  500.0      1