# total formulas and to work with datasets

In [3]:
import pandas as pd

In [40]:
df1 = pd.read_csv('./Balance-sheets - incomesheet-1.csv')
df1

      account type  amount
0  service revenue   20000
1         salaries    5200
2         supplies    1500
3             rent     900
4     depreciation      83
5        insurance      50
6         interest      25
7       income tax    1800

In [41]:
def income_before_tax( df ): 
    revenue = df['amount'][0]
    expenses = df['amount'][1] + df['amount'][2] + \
        df['amount'][3] + df['amount'][4] + df['amount'][5] + df['amount'][6]

    net = revenue - expenses
    print("Income before tax = ${:,}".format(net))



def net_income( df ):
    revenue = df['amount'][0]
    expenses = df['amount'][1] + df['amount'][2] + \
        df['amount'][3] + df['amount'][4] + df['amount'][5] + df['amount'][6]
    income_before_tax = revenue - expenses

    net_income = income_before_tax - df['amount'][7]
    print("Net income = ${:,}".format( net_income))


# ==================================
income_before_tax( df1 )
net_income( df1 )

Income before tax = $12,242
Net income = $10,442

In [2]:
# def income_before_tax(revenue: float, expenses: float): 
#     net = revenue - expenses
#     print(f"Income before tax = ${net}")


def shareholder_equity(shares1, shares_sold, shares_repurchased):
    common_shares = (shares1 + shares_sold) - shares_repurchased
    print(f"Common shares at end of period = ${common_shares}")

In [62]:
# FINANCIAL STATEMENT 
financial_statement = pd.read_csv('./Balance-sheets - fin-statement.csv')
financial_statement.head()

                   account type   amount
0                       revenue  12279.6
1                      expenses  11278.3
2                          cash  10000.0
3  held for trading investments      0.0
4           accounts receivable  15000.0

In [373]:
def finance_position( df ):

    print("\n============ BALANCE SHEET ===========")

    # ------- current_assets
    curr_assets = df['amount'][2] + df['amount'][4] \
                    + df['amount'][6] + df['amount'][5]
                    
    print("Current assets = ${:,}".format(curr_assets))

        

    # ------ noncurrent_assets
    noncurr_assets = df['amount'][9] + df['amount'][10] - \
                        df['amount'][21]   + df['amount'][11]
    print("Non Current assets = ${:,}".format(noncurr_assets))
    

        

    # --- current_liabilities 
    curr_liab = (financial_statement['amount'][13] + financial_statement['amount'][14] + \
            financial_statement['amount'][22] + financial_statement['amount'][23]+ \
            financial_statement['amount'][15]  + financial_statement['amount'][29] + \
            financial_statement['amount'][17]
            )
    print("Current liabilities = ${:,}".format(curr_liab))
   
    
    # --- noncurrent_liabilities
    ncl_1 = df['amount'][16] - df['amount'][29]
    ncl_2 = df['amount'][18] - df['amount'][17]
    noncurr_liab = ncl_1 + ncl_2
    print("Non-current liabilities = ${:,}".format(noncurr_liab))

    
    # --- share equity
    share_equity = df['amount'][19] + df['amount'][20]
    print("Shareholders equity = ${:,}".format(share_equity))


    # --- check if balance sheet is balanced
    balance1 = curr_assets + noncurr_assets  
    balance2 =  noncurr_liab + share_equity + curr_liab 
    print("... balance = ${:,} == ${:,}".format(balance1, balance2))


    print("\n")
    # ---- working capital
    work_cap = curr_assets -  curr_liab
    print("Working capital = ${:,}".format(work_cap))


    # 
    # --- current ratio
    liquid_ratio = curr_assets / curr_liab
    print("Current (liquidity) ratio = {:.2f} : 1".format(liquid_ratio))
    

    # --- debt to total assets
    total_liabilities = curr_liab + noncurr_liab
    total_assets = curr_assets + noncurr_assets
    debt_tot_assets = total_liabilities / total_assets
    print("Debt to total assets = {:.2f}%".format(debt_tot_assets * 100))



    # --- net income       bottom line
    net_ = df['amount'][0] - df['amount'][1]
    print("Net income = ${:.2f}".format(net_))

    print("======================================")

#===================================== 
finance_position( financial_statement )

============ BALANCE SHEET ===========
Current assets = $103,500.0
Non Current assets = $357,000.0
Current liabilities = $52,000.0
Non-current liabilities = $217,500.0
Shareholders equity = $134,000.0
... balance = $460,500.0 == $403,500.0


Working capital = $51,500.0
Current (liquidity) ratio = 1.99 : 1
Debt to total assets = 58.52%
Net income = $1001.30
======================================

In [374]:
# ---- basic earnings per share  ** NEED FOR PRICE EARNINGS RATIO **
def earnings_per_share( net_income, avg_num_shares ):
    """ weighted average number of common shares """
    eps = net_income / avg_num_shares
    print("Basic earnings per share = ${:.2f}".format(eps))


# -- price earning ratio
def price_earnings_ratio( market_price_per_share, earnings_per_share ):
    PER = market_price_per_share / earnings_per_share
    print("Price-Earnings ratio = {:.2f}".format(PER))

# ----------
earnings_per_share(net_income = 735.9, avg_num_shares= 76.2)
price_earnings_ratio(market_price_per_share = 199.36, earnings_per_share= 9.66)

Basic earnings per share = $9.66
Price-Earnings ratio = 20.64

In [84]:
# TRIAL BALANCE
trial_balance_ = pd.read_csv('./Balance-sheets - trial-balance.csv')
trial_balance_.head()

# trial_balance_[trial_balance_['account type'] == "service revenue"]

          account type  amount
0                 cash   11400
1  accounts receivable   11000
2             supplies    2500
3    prepaid insurance     600
4            equipment    5000

In [82]:
def trial_balance( df ):

    total_debit = df['amount'][0] + df['amount'][1] + df['amount'][2] \
        + df['amount'][3] + df['amount'][4] + df['amount'][9] \
        + df['amount'][11] + df['amount'][12] + df['amount'][13]


    total_credit = df['amount'][5] + df['amount'][6] + \
        df['amount'][7] + df['amount'][8] + df['amount'][10]

    print("Debit = ${:,}  |  Credit = ${:,}".format(total_debit, total_credit))


# ============

trial_balance( df= trial_balance_ )

Debit = $37,700  |  Credit = $37,700

In [88]:

def straightline_depreciation(cost: float, useful_life: float):
    annual_depreciation_expense = cost / useful_life
    print("Annual depreciation expense = ${:.2f}".format(annual_depreciation_expense))

    months = int(input("Months used? : "))
    monthly_depreciation =round( (months / 12) * annual_depreciation_expense, 2)
    print(f"Depreciation for {months} month(s) = ${ monthly_depreciation}" )

    carrying_amount = cost - monthly_depreciation
    print("Carrying cost amount = ${:,}".format(carrying_amount))


def calculate_interest(amount:float, interest_rate: float, months_per_yr: int):
    time = (months_per_yr /12)
    rate = (interest_rate/100)
    interest = amount * rate  * time 
    print(f"Total interest payment due = ${interest} (${interest/months_per_yr}/month)")

# ------------
straightline_depreciation(5000, 5)
calculate_interest(5000, 6, 3)

Annual depreciation expense = $1000.00
Depreciation for 3 month(s) = $250.0
Carrying cost amount = $4,750.0
Total interest payment due = $75.0 ($25.0/month)

In [89]:
# ====== SALARIES

def accrued_salaries(days: int, salary_per_day: float, employees: int):
    acc_sal = days * salary_per_day * employees
    print("Accrued salaries (adjusted) payable = ${:,}".format(acc_sal))

    adjust_bal = salary_per_day * 13 * employees
    print("Actual salary for period: ${:,}".format(adjust_bal))

    salaries_expense = 7 * 100 * 4 # 7days x 100/day  x 4 employee
    pay = salaries_expense + acc_sal
    print("next regular payday = ${:,}".format(pay))

# -------
accrued_salaries(3,100,4)

Accrued salaries (adjusted) payable = $1,200
Actual salary for period: $5,200
next regular payday = $4,000

In [118]:
# MERCHANDISING OPERATIONS
merch_= pd.read_csv("./Balance-sheets - merchandise.csv")
merch_.head()

# merch_[merch_['account type'] == "net income"]

         account type  amount  "2016"  "2015"
0           net sales  460000       0       0
1    interest revenue    3400       0       0
2  cost of goods sold  316000       0       0
3    salaries expense   45000       0       0
4        rent expense   19000       0       0

In [119]:
def gross_profit_margin( df ):
    gross_profit = df['amount'][0] - df['amount'][2]
    gpm = gross_profit / df['amount'][0]
    print("Gross profit margin = {:.2f}%".format(gpm * 100))
    print("... gross profit ${:.2f} for every $1 of net sales earned".format(gpm))


def profit_margin( df ):
    prof_margin = df['amount'][14] / df['amount'][0]
    print("Profit margin = {:.2f}%".format(prof_margin * 100))
    print("... `%` of sales that is profit")

# ----------------
gross_profit_margin( merch_)
profit_margin( merch_)

Gross profit margin = 31.30%
... gross profit $0.31 for every $1 of net sales earned
Profit margin = 5.50%
... `%` of sales that is profit

In [108]:
# merch_[merch_['account type'] == "freight shipping"]

In [120]:
def cost_of_goods_purchased( df ):
    net_purchases = df['amount'][15] - df['amount'][16]  - df['amount'][17] 

    cogs = net_purchases + df['amount'][18] 
    print("Cost of goods purchased = ${:,}".format(cogs))

# --------
cost_of_goods_purchased( merch_ )

Cost of goods purchased = $3,580

In [117]:
# merch_[merch_['account type'] == "ending inventory"]

In [121]:
def net_sales( df ):
    netsales = df['amount'][19] - df['amount'][20] - df['amount'][21]
    print('Net sales = ${:,}'.format(netsales))


def cost_of_goods_sold( df ):
    cogs_available = df['amount'][22] + df['amount'][24]
 
    cogs_sold = cogs_available - df['amount'][23]
    print("Cost of goods sold = ${:,}".format(cogs_sold))

# --------
net_sales( merch_ )
cost_of_goods_sold( merch_)

Net sales = $3,430
Cost of goods sold = $316,000

In [152]:
# merch_[merch_['account type'] == "ending inventory"]

# merch_.iloc[26][3]

In [153]:
# ======= INVENTORY

def inventory( df ):
    # cost_of_goods_sold = 6200
    # ending_inventory = 5800
    # cost_of_goods_available = cost_of_goods_sold + ending_inventory
    # units_available_for_sale = 1000
    # weight_avg_unit_cost = cost_of_goods_available / units_available_for_sale

    cost_of_goods_available = df['amount'][24] + df['amount'][23]
    weight_avg_unit_cost = cost_of_goods_available / df['amount'][25]

    print(f"Cost of goods available = ${cost_of_goods_available}")
    print(f"Weighted average unit costs = ${weight_avg_unit_cost}")

    inventory_yr1 = df.iloc[26][2]
    inventory_yr2 = df.iloc[26][3]
    avg_inventory = (inventory_yr1 + inventory_yr2 )/ 2

    inventory_turnover = (merch_['amount'][24] ) / avg_inventory
    days_inventory = 365 / inventory_turnover

    print("Inventory turnover = {:.2f} times".format(inventory_turnover) )
    print("Days in inventory = {:.2f}".format(days_inventory))


# ===========
inventory( merch_ )

Cost of goods available = $360000
Weighted average unit costs = $360.0
Inventory turnover = 1.30 times
Days in inventory = 280.67

In [195]:
# ==== BANK 

bank = pd.read_csv("./Balance-sheets - bank.csv")
bank.head()

# bank[bank['account type'] == "deposits in transit"]

          account type   amount
0  deposits in transit  2201.40
1  outstanding cheques  5904.00
2          bank errors     0.00
3         EFT receipts  6787.18
4             interest     0.00

In [196]:
def bank_reconciliation( df ):
    deposits_in_transit = df['amount'][9] + df['amount'][0]
    print("Deposits in transit = ${:,}".format(deposits_in_transit))

    total_oustanding_cheqs =  df['amount'][10] + df['amount'][11] + df['amount'][12] 
    recon_cash_bal = round(deposits_in_transit - total_oustanding_cheqs,2)
    print("Reconciled cash balance per bank = ${:,}".format(recon_cash_bal ))

    
    sum_oustanding_cheqs  = deposits_in_transit - recon_cash_bal #round( deposits_in_transit - recon_cash_bal,2)
    print("Total outstanding cheques = ${:.2f}".format( sum_oustanding_cheqs ))

    cash_bal_per_books = deposits_in_transit - recon_cash_bal
    print("Cash balance per books = ${:.2f}".format(cash_bal_per_books))

    total_recipts =  df['amount'][13] + df['amount'][14] + df['amount'][15] 
    print("Total recipts = ${:.2f}".format(total_recipts))

    total_fees = df['amount'][16] + df['amount'][17]
    print("Total fees = ${:.2f}".format(total_fees))

    recon_cash_bal_per_book = total_recipts +  df['amount'][18] - total_fees 
    print("Reconciled cash balance per books = ${:.2f}".format(recon_cash_bal_per_book))

    print("Reconciled cash per bank == Reconciled cash per books:\n\t  ${:,} == ${:,} ".format(recon_cash_bal, recon_cash_bal_per_book))

# -------------
bank_reconciliation( bank )

Deposits in transit = $16,808.13
Reconciled cash balance per bank = $10,904.13
Total outstanding cheques = $5904.00
Cash balance per books = $5904.00
Total recipts = $7147.18
Total fees = $630.60
Reconciled cash balance per books = $10904.13
Reconciled cash per bank == Reconciled cash per books:
	  $10,904.13 == $10,904.13

In [197]:
# ======== RECEIVABLES 
receiv = pd.read_csv("./Balance-sheets - receivables_assets.csv")
receiv.head()

                       account type     amount
0                         net sales    12279.6
1  accounts receivable gross year 1      915.0
2  accounts receivable gross year 2      880.2
3               property cash price  1200000.0
4         net cost moving warehouse    40000.0

In [200]:
def receivables( df ):
    net_sales = df['amount'][0]
    accounts_receivable_gross_yr1 = df['amount'][1]
    accounts_receivable_gross_yr2 = df['amount'][2]
    avg_gross_acct_rec = (accounts_receivable_gross_yr1 + accounts_receivable_gross_yr2) / 2

    receivables_turnover = round( net_sales / avg_gross_acct_rec, 1)
    avg_collection_period = round( 365 / receivables_turnover, 1)

    print("Receivables turnover ratio = {:.2f}".format(receivables_turnover))
    print("Average collection period = {:.2f} days".format(avg_collection_period))


def cost_of_land( df ):
    land_cost = df['amount'][3] + df['amount'][4] + df['amount'][5]

    print("Cost of land = ${:,}".format(land_cost))

# ------
receivables( receiv )
# ------
cost_of_land( receiv )

Receivables turnover ratio = 13.70
Average collection period = 26.60 days
Cost of land = $1,245,000.0

depreciation

In [202]:
def straightline_method( df ):
    
    deprec_amt = receiv['amount'][6] - receiv['amount'][7]
    deprec_exp = deprec_amt / receiv['amount'][8]
    straightline_dep = 100 / receiv['amount'][8]

    print(f"Depreciable amount = ${deprec_amt}")
    print(f"Depreciable expense = ${deprec_exp}")
    print(f"Straightline depreciation rate  = {straightline_dep}%")


def diminishing_balance( df, multiplier: int):
    deprec_rate = 100 / receiv['amount'][8]
    dbl_deprec_rate = deprec_rate * multiplier / 100
    deprec_exp =  receiv['amount'][6] * dbl_deprec_rate
    print("Diminishing balance:\n depreciation expense = ${:,}".format(deprec_exp))


def units_production( df ):
    deprec_amt = receiv['amount'][6] - receiv['amount'][7]
    deprec_per_unit = deprec_amt / receiv['amount'][9]
    deprec_exp = deprec_per_unit  * receiv['amount'][10]

    print("Depreciable amount = ${:,}".format(deprec_amt))
    print("Depreciable amount per unit = ${:,}".format(deprec_per_unit))
    print("Depreciable expense = ${:,}".format(deprec_exp))


# -------------
straightline_method( receiv )
diminishing_balance( receiv, 2 )
units_production( receiv )

Depreciable amount = $30000.0
Depreciable expense = $6000.0
Straightline depreciation rate  = 20.0%
Diminishing balance:
 depreciation expense = $13,200.0
Depreciable amount = $30,000.0
Depreciable amount per unit = $0.3
Depreciable expense = $4,500.0

In [207]:
def derecognition( df ):

    accum_deprec = receiv['amount'][6] * receiv['amount'][12]
    car_amt = receiv['amount'][6]- accum_deprec
    gain = receiv['amount'][13]- car_amt
    debit = receiv['amount'][13] + accum_deprec
    credit = receiv['amount'][6] + gain 


    print("Carrying amount = ${:,}".format(car_amt))
    print("Gain (loss) = ${:,}".format(gain))
    print("debit: ${:,} | credit: ${:,}".format(debit, credit))

# --------
derecognition( receiv )

Carrying amount = $-82,500.0
Gain (loss) = $107,500.0
debit: $140,500.0 | credit: $140,500.0

#### payroll

In [210]:
pay = pd.read_csv('./Balance-sheets - payroll.csv')
pay.head()

                  account type  amount
0             salaries expense  100000
1                  CPP payable    4950
2                   EI payable    2632
3  employee income tax payable   20427
4         workers compensation    1575

In [223]:
def payroll( df ):
    deduct_sum = pay['amount'][1] + \
                 pay['amount'][2] + \
                 pay['amount'][3] + \
                 pay['amount'][4] + \
                 pay['amount'][5] + \
                 pay['amount'][6]

    salaries_payable = pay['amount'][0] - deduct_sum
    benefit_expense = deduct_sum - pay['amount'][3]

    print("Salaries expense (employee pay) = ${:,}".format(salaries_payable))
    print("Employee benefits expense = ${:,}".format(benefit_expense))
    print("payroll deduction remittance = ${:,}".format(deduct_sum))

# ------------
payroll( pay )

Salaries expense (employee pay) = $66,449
Employee benefits expense = $13,124
payroll deduction remittance = $33,551

#### bank loan

In [218]:
bankL = pd.read_csv('./Balance-sheets - bank_loan.csv')

# bankL[bankL['account type'] == "month issued"]
bankL

# bankL['amount'][0]

                account type     amount
0           principal amount  100000.00
1              interest rate       0.03
2               month issued       3.00
3             month loan due       7.00
4       principal amount (2)  120000.00
5          interest rate (2)       0.04
6           month issued (2)       1.00
7        loan duration years       5.00
8  installment payment fixed    2210.00

In [224]:
def shortterm_loan( df ):
    month = 1 / 12
    interest_payable = bankL['amount'][0] * bankL['amount'][1] * month
    loan_months = (bankL['amount'][3] - bankL['amount'][2]) / 12 # 4 / 12 = 0.33
    principal_amt = loan_months * bankL['amount'][0] * bankL['amount'][1]
    total_loan_payable = bankL['amount'][0] + principal_amt

    print("--------- SHORT TERM LOAN --------")
    print(f"Interest payable = ${interest_payable} (for 1st month)")
    print("Interest amount = ${:.2f}".format(principal_amt)) 
    print("Bank loan & interest payable = ${:.2f}".format(total_loan_payable))
    print("-------------------------\n")


def fixed_principal_interest( df ):
    month = 1 / 12
     #  # 60  = 12 * 5 yrs = 60 months
    loan_duration=  bankL['amount'][7]  * 12

    # B - interest expense
    interest_payable = bankL['amount'][0]  * bankL['amount'][1]  * month

    # C - reduction_in_principal 
    bank_loan_payable = bankL['amount'][0]  / loan_duration

    # A = B + C
    installment =  interest_payable + bank_loan_payable 

    # balance minus interest
    principal_bal = bankL['amount'][0]  - installment

    print("----- FIXED PRINCIPAL INTEREST -----")
    print("Bank loan amount = ${:,}".format( bankL['amount'][0] ))
    print("Interest expense = ${:,}".format(interest_payable))      # B
    print("Bank loan payable = ${:.2f}".format(bank_loan_payable) )   # C
    print("Loan installment (cash) payment = ${:.2f}".format(installment))   # A
    print("Principal balance ... ${:.2f}".format(principal_bal))
    print("-------------------------\n")


def blended_payments( df ):
    month = 1 / 12

    # B - interest expense
    interest_payable = bankL['amount'][0] * bankL['amount'][1] * month

    # AMOUNT MONTHLY - INTEREST
    redux_principal = bankL['amount'][8] - interest_payable

    # FIXED MONTHLY + INTEREST
    cash_payment = interest_payable + redux_principal

    # balance minus interest
    principal_bal = bankL['amount'][0] - redux_principal


    print("-------- BLENDED PRINCIPAL & INTEREST PAYMENT ------")
    print("Cash (fixed) payment = ${:.2f} (per month)".format( cash_payment ))
    print("Interest expense = ${:.2f}".format(interest_payable))

    print("Reduction of principal = ${:.2f}".format( redux_principal )) # redux
    print("Principal balance = ${:.2f}".format( principal_bal ))
    print("-------------------------\n")


# ------------
shortterm_loan( bankL )
fixed_principal_interest(  bankL )
blended_payments( bankL )

--------- SHORT TERM LOAN --------
Interest payable = $250.0 (for 1st month)
Interest amount = $1000.00
Bank loan & interest payable = $101000.00
-------------------------

----- FIXED PRINCIPAL INTEREST -----
Bank loan amount = $100,000.0
Interest expense = $250.0
Bank loan payable = $1666.67
Loan installment (cash) payment = $1916.67
Principal balance ... $98083.33
-------------------------

-------- BLENDED PRINCIPAL & INTEREST PAYMENT ------
Cash (fixed) payment = $2210.00 (per month)
Interest expense = $250.00
Reduction of principal = $1960.00
Principal balance = $98040.00
-------------------------

#### bonds & shares

In [230]:
bondshares = pd.read_csv('./Balance-sheets - bonds_shares.csv')
bondshares

            account type      amount
0                   cash  1000000.00
1          bonds payable  1000000.00
2   market interest rate        0.05
3         months of year        6.00
4    sold discount price   981417.00
5   discount market rate        0.06
6     sold premium price  1019043.00
7    premium market rate        0.04
8          common shares     5000.00
9        price per share        3.50
10            land value    20000.00
11   new price per share        1.50
12      total new shares    20000.00
13       account balance    50000.00
14  retire common shares     4000.00
15   retired share price        4.00

In [232]:
def amortization( df ):
    interest_exp_paid = bondshares['amount'][0] * bondshares['amount'][2] * (bondshares['amount'][3] / 12)

    discount = bondshares['amount'][4]* bondshares['amount'][5] * (bondshares['amount'][3] / 12)

    premium = bondshares['amount'][6] * bondshares['amount'][7] * (bondshares['amount'][3] / 12)

    # ---------
    bonds_payable =  discount - interest_exp_paid
    discount_bond_cash = discount - bonds_payable
    unmortized_discount = bondshares['amount'][1] - bondshares['amount'][4]
    discount_carrying_amt = bondshares['amount'][0] - unmortized_discount

    # ---------
    premium_payable = discount_bond_cash -  premium 
    prem_unmort = bondshares['amount'][6] - bondshares['amount'][0]
    prem_carry_amt = bondshares['amount'][6] - premium_payable
    

    print("\n--------- AMORTIZATION -------------")
    print("Bond interest expense = ${:,}".format( interest_exp_paid ))
    print("\nDiscount interest payment = ${:.2f}".format( discount_bond_cash ))
    print("Discount interest expense = ${:,}".format( discount ))
    print("Discount amortization = ${:.2f}".format( bonds_payable ))
    print("Discount unmortized = ${:,}".format( unmortized_discount ))
    print("Discount bond carrying amount = ${:,}".format( discount_carrying_amt ))
    print("-----------")
    print("\nPremium bond interest expense = ${:,}".format( premium ))
    print("Premium amortization = ${:.2f}".format( premium_payable ))
    print("Premium unmortized = ${:,}".format( prem_unmort ) )
    print("Premium bond carrying amount = ${:,}".format( prem_carry_amt ) )

def repurchase_shares( df ):
    #  below avg
    shares_price = bondshares['amount'][8] * bondshares['amount'][9]
    price_diff = bondshares['amount'][9] - bondshares['amount'][11]
    contrib_surplus = bondshares['amount'][8] * price_diff
    cash = bondshares['amount'][8] * bondshares['amount'][11]

    total_shares = bondshares['amount'][12] - bondshares['amount'][8]
    balance = bondshares['amount'][13] - shares_price

    # above avg
    abov_common_share = bondshares['amount'][14] * bondshares['amount'][9]
    abov_cash = bondshares['amount'][14] * bondshares['amount'][15]
    avg_cost_per_share = bondshares['amount'][15] - bondshares['amount'][9]
    retained_earnings = (abov_cash - abov_common_share) - contrib_surplus


    consideration = bondshares['amount'][8] * bondshares['amount'][9]
    

    print("\n------ BELOW AVG COST ------")
    print(f"Common shares = ${shares_price}")
    print(f"Contrbuted surplus = ${contrib_surplus}")
    print(f"Cash = ${cash}")
    print(f"shares issued = {total_shares}")
    print(f"balance = ${balance}")


    print("\n------- ABOVE AVG COST -----")
    print(f"Common shares = ${abov_common_share}")
    print(f"Contrbuted surplus = ${contrib_surplus}")
    print(f"Average price per share = ${avg_cost_per_share}")
    print(f"Retained earnings = ${retained_earnings}")
    print(f"cash = ${abov_cash}")

    print(f"\nshares x price = ${consideration}") 


# -------------------------
amortization( bondshares )
repurchase_shares( bondshares )

--------- AMORTIZATION -------------
Bond interest expense = $25,000.0

Discount interest payment = $25000.00
Discount interest expense = $29,442.51
Discount amortization = $4442.51
Discount unmortized = $18,583.0
Discount bond carrying amount = $981,417.0
-----------

Premium bond interest expense = $20,380.86
Premium amortization = $4619.14
Premium unmortized = $19,043.0
Premium bond carrying amount = $1,014,423.86

------ BELOW AVG COST ------
Common shares = $17500.0
Contrbuted surplus = $10000.0
Cash = $7500.0
shares issued = 15000.0
balance = $32500.0

------- ABOVE AVG COST -----
Common shares = $14000.0
Contrbuted surplus = $10000.0
Average price per share = $0.5
Retained earnings = $-8000.0
cash = $16000.0

shares x price = $17500.0

#### dividends

In [248]:
divs = pd.read_csv('./Balance-sheets - dividends.csv')
divs

                        account type     amount
0                         net income   76629.00
1          shareholder equity (2015)  600402.00
2                 dividends declared   28465.00
3  weighted average number of shares   71218.00
4       dividends declared per share       0.40
5             market price per share      14.08
6            preferred shares issued       0.00
7          shareholder equity (2014)  549105.00

In [249]:

def dividend_analysis( df ):

    # -------- dividend payout ratio
    # the value being high or low being good depends on investor view
    #  if seeking dividend income then high payout ratio is good but less money for company growth
    # -- ['cash_dividends_declared'] / ['net_income']
    payout_ratio = divs['amount'][2] / divs['amount'][0] 
    print("\n ----- DIVIDEND PAYOUT RATIO --------")
    print("Dividend payout ratio = {:.2f}% ".format(payout_ratio *100))

    # --------- dividend yield
    # the measure of a shareholder's return on their investment
    #  investor paid $14.08 per share
    #  annual dividend per share is  40 cents
    #  return on investment is 2.8% 
    div_yeild = divs['amount'][4]  / divs['amount'][5] 
    print("\n----- DIVIDEND YIELD -----")
    print("Dividend yield = {:.2f}%".format(div_yeild * 100 ))

    # --------- earnings per share
    income_avail_common_shareholders = ( divs['amount'][0]  - divs['amount'][6]  ) 
    earn_per_share = income_avail_common_shareholders / divs['amount'][3] 
    print("\n----- Basic Earnings per Share -----")
    print("Basic earnings per share = ${:.2f}".format(earn_per_share))

    # -------- return on equity
    income_avail_common_shareholders = (divs['amount'][0]  - divs['amount'][6]  )
    avg_shareholder_equity = (divs['amount'][1] + divs['amount'][2] ) / 2
    roe = income_avail_common_shareholders / avg_shareholder_equity
    print("\n------ RETURN ON SHAREHOLDER'S EQUITY -------")
    print("Return on common shareholder's equity = {:.2f}%\n".format( roe * 100 ))


# ---------------------------
dividend_analysis( divs )

 ----- DIVIDEND PAYOUT RATIO --------
Dividend payout ratio = 37.15%

----- DIVIDEND YIELD -----
Dividend yield = 2.84%

----- Basic Earnings per Share -----
Basic earnings per share = $1.08

------ RETURN ON SHAREHOLDER'S EQUITY -------
Return on common shareholder's equity = 24.37%

#### financial position & cash payments

In [270]:
# -- financial position
finpos = pd.read_csv('./Balance-sheets - financial_position.csv')

finpos[finpos['account type'] == "income tax payable"]

income = pd.read_csv('./Balance-sheets - incomeStatement.csv')
income

                 account type  amount
0               sales revenue  507000
1          cost of goods sold  150000
2          operating expenses  141000
3        depreciation expense    9000
4  loss on disposal equipment    3000
5            interest expense   12000
6          income tax expense   47000
7            unearned revenue       0

In [271]:
def finance_position( finance_position, income_statement ):

    # --- df
    accounts_rec_diff = abs( finpos['amount'][1] - finpos['amount'][19])
    inventory_diff = finpos['amount'][2] - finpos['amount'][20]
    accounts_payable_diff = finpos['amount'][9] - finpos['amount'][27]
    prepaid_expense_diff = finpos['amount'][3] - finpos['amount'][21]
    accrued_liab_diff = finpos['amount'][14] - finpos['amount'][32]
    income_tax_diff = abs( finpos['amount'][11] - finpos['amount'][29] )


    print("\n ---- Financial Position ------")
    print("Accounts received difference = ${:.2f}".format( accounts_rec_diff ))
    print("Inventory difference = ${:.2f}".format( inventory_diff ))
    print("Accounts payable difference = ${:.2f}".format( accounts_payable_diff ))
    print("Prepaid expense difference = ${:.2f}".format( prepaid_expense_diff ))
    print("Accrued liabilities difference = ${:.2f}".format( accrued_liab_diff ))
    print("Income tax difference = ${:.2f}".format( income_tax_diff ))
    print("-------------------------------\n")

    # -- dict==> df2 income['amount'][0]
    cash_receipts = accounts_rec_diff + income['amount'][0] + income['amount'][7]
    cost_of_goods_sold = income['amount'][1]
    purchased_cost = inventory_diff + cost_of_goods_sold
    operating_exp = income['amount'][2]
    income_tax_exp = income['amount'][6]
    pay_interest = income['amount'][5]


    payments_ops = operating_exp + prepaid_expense_diff + accrued_liab_diff  #
    cash_suppliers = purchased_cost - accounts_payable_diff
    pay_income_tax = income_tax_diff + income_tax_exp
    total_cash_payments = cash_suppliers + payments_ops + pay_income_tax + pay_interest
    net_cash_by_ops = cash_receipts - total_cash_payments

    # -------------
    print("\n ---- CASH PAYMENTS ------")
    print("Cash receipts from customers = ${:,}".format(cash_receipts))
    print("Cost of goods purchased = ${:,}".format(purchased_cost))
    print("Cash payments to suppliers = ${:,}".format(cash_suppliers))
    print("Cash payments for operating expenses = ${:,}".format( payments_ops )) #
    print("Cash payments for income tax = ${:,}".format(pay_income_tax))
    print("Cash payments for interest = ${:,}".format(pay_interest))
    print("Total Cash payments  = ${:,}".format(total_cash_payments))
    print(" Net cash provided by operating activities = ${:,}".format(net_cash_by_ops))
    
# -------
finance_position( finpos, income )

 ---- Financial Position ------
Accounts received difference = $10000.00
Inventory difference = $5000.00
Accounts payable difference = $7000.00
Prepaid expense difference = $4000.00
Accrued liabilities difference = $0.00
Income tax difference = $2000.00
-------------------------------


 ---- CASH PAYMENTS ------
Cash receipts from customers = $517,000
Cost of goods purchased = $155,000
Cash payments to suppliers = $148,000
Cash payments for operating expenses = $145,000
Cash payments for income tax = $49,000
Cash payments for interest = $12,000
Total Cash payments  = $354,000
 Net cash provided by operating activities = $163,000

#### horizontal analysis

In [279]:
horiz = pd.read_csv('./Balance-sheets - horizontal.csv')
horiz

      year                    account type   amount
0   "2012"                       net sales   4077.0
1   "2012"  percentage of base year amount    100.0
2   "2012"         percentage for the year      0.0
3   "2013"                       net sales   5223.0
4   "2013"  percentage of base year amount    128.1
5   "2013"         percentage for the year     28.1
6   "2014"                       net sales   8169.0
7   "2014"  percentage of base year amount    200.4
8   "2014"         percentage for the year     56.4
9   "2015"                       net sales  11162.0
10  "2015"  percentage of base year amount    273.8
11  "2015"         percentage for the year     36.6

In [281]:
def horizontal_analysis( accumulated_financial_statement ):
    """ a series of financial statement data """

    # determine the net sales    horiz['amount'][0]
    horiz_percent_amt = horiz['amount'][9] / horiz['amount'][0]

    # measure the % change for year 2015 - 2014 /2014
    horiz_perc_change = ( horiz['amount'][9]  - horiz['amount'][6]  ) / horiz['amount'][6] *100

    print("\n ----- HORIZONTAL ANALYSIS ------")
    print("Horizonatal percentage of base amount = {:.2f}%".format(horiz_percent_amt))
    print("Horizontal percentage change for period = {:.2f}%".format(horiz_perc_change))

# ---------
horizontal_analysis( horiz)

 ----- HORIZONTAL ANALYSIS ------
Horizonatal percentage of base amount = 2.74%
Horizontal percentage change for period = 36.64%

#### vertical analysis

In [290]:
# company finance
compFin = pd.read_csv('./Balance-sheets - companyFinances.csv')

compFin[compFin['account type'] == "net sales"]

     year account type  amount
0  "2015"    net sales   11162
8  "2014"    net sales    8169

In [291]:
# vertical analysis 
def vertical_analysis( company_finances ):
    vert_analysis = compFin['amount'][1] / compFin['amount'][0] * 100
    print("\n ----- VERTICAL ANALYSIS ------")
    print("Vertical analysis on statement of earnings:\n cost of sales = {:.2f}%".format(vert_analysis))

# ------
vertical_analysis( compFin )

 ----- VERTICAL ANALYSIS ------
Vertical analysis on statement of earnings:
 cost of sales = 59.47%

#### Balance sheet

In [325]:
# balance sheet

# compFin
bs = pd.read_csv('./Balance-sheets - balanceSheet.csv')

bs[bs['account type'] == "trade payables accrued liabilities"]
bs.head(11)

      year                        account type  amount
0   "2015"                                cash     507
1   "2015"             trade other receivables     512
2   "2015"                         inventories    3415
3   "2015"                other current assets     194
4   "2015"            property plant equipment    5154
5   "2015"                   intangible assets    1774
6   "2015"                        other assets    1093
7   "2015"                    loans borrowings     451
8   "2015"  trade payables accrued liabilities    2514
9   "2015"                    unearned revenue     132
10  "2015"                    provisions other     299

In [363]:
def balancesheet_report( balance_sheet ):

    # ----- current assets
    # ['cash'] + ['trade_other_receivables'] + 'inventories'] + ['other_current_assets']
    current_assets =( bs['amount'][0] + bs['amount'][1] + bs['amount'][2] + bs['amount'][3])
    year1 = bs.iloc[0][0]
    year2 = bs.iloc[13][0]
    print("\n -- CURRENT ASSETS --")
    print("Current assets = ${:,} ({})".format(current_assets, year1 ))

    # ---- current liabilities
    # ['loans_borrowings'] + ['trade_payables_accriued_liabilities'] + ['unearned_revenue'] + ['provisions_other']
    current_liabilities = ( bs['amount'][7] + bs['amount'][8]  + bs['amount'][8] + bs['amount'][10] )
    print(" -- CURRENT LIABILITIES --")
    print("Current liabilities = ${:,}".format(current_liabilities))

    # ---- current ratio 
    # ratio 1.4:1  means for every $ of current liabilities, $1.4 is current assets
    curr_ratio = current_assets / current_liabilities
    print("Current ratio = {:.2f} : 1".format(curr_ratio))


    # ---- working capital
    # ['cash'] + ['trade_other_receivables'] + ['inventories'] + ['other_current_assets']
    current_assets =( bs['amount'][0] + bs['amount'][1] + bs['amount'][2] + bs['amount'][3] )
    current_liabilities = ( bs['amount'][7]+ bs['amount'][8] + bs['amount'][9] + bs['amount'][10] )
    work_cap = current_assets - current_liabilities
    print("\n --- WORKING CAPITAL ----")
    print("Working capital = ${:,} : 1".format(work_cap))


# -------
balancesheet_report( bs )

 -- CURRENT ASSETS --
Current assets = $4,628 ("2015")
 -- CURRENT LIABILITIES --
Current liabilities = $5,778
Current ratio = 0.80 : 1

 --- WORKING CAPITAL ----
Working capital = $1,232 : 1

#### small data , better to use dictionaries for functions

In [369]:
from statistics import mean

company = {
    'net_sales': 4029265,
    'net_income': 367530,
    'total_assets': 5129024,
    'avg_total_assets': sum([5129024,4646433]) / 2,
    'sales' : 10_000,
    'sales_tax_payable_GST': 0.05, # Federal sales tax
    'sales_tax_payable_PST': 0.07, # Provincial sales tax 
    'property_tax_bill' : 6000,
    'bill_data_month_number': 3  # 2 months have passed for this company, year end Dec 31
}


company_finance = {
    'year': '2015',
    'total_assets': 7720,
    'total_liabilities': 8844
}
company_finance2 = {
    'year': '2014',
    'total_assets': 7584,
    'total_liabilities': 9595
}

expense = {
    'interest_expense':  50,
    'income_tax_expense': 37,
    'net_income' : 99
}

# number of shares to be issued

shares_price = {
    'common_shares' : 50_000,
    'stock_dividend' : 0.10,
    'share_price' : 15
}

surplus = {
    'common_shares' : 34389,
    'shares_issued' : 7089,
    'total_contributed_capital' : 558_226,
    'retained_earnings' : 398
}


free_cash = [ 
    {
        'year': 2015,
        'net_cash_operations': 1951,
        'net_capital_expenditures': 1104,
        'cash_dividends': 374
    },
        {
        'year': 2014,
        'net_cash_operations': 2278,
        'net_capital_expenditures': 2223,
        'cash_dividends': 518
    }
]

In [370]:
def return_on_assets( dict_ ):
    ret_assets = dict_['net_income'] / (dict_['avg_total_assets'] )
    print("Return on assets = {:.2f}%".format(ret_assets * 100))


def asset_turnover( dict_ ):
    ass_turn = dict_['net_sales'] / (dict_['avg_total_assets'] )
    print("Asset turnover = {:.2f} times".format(ass_turn))


def profit_margin( dict_ ):
    prof_marg = dict_['net_income'] / dict_['net_sales'] 
    print("Profit margin = {:.2f}%".format(prof_marg * 100))


def sales_tax( dict_):
    pst_tax = dict_['sales_tax_payable_PST'] * dict_['sales']
    gst_tax = dict_['sales_tax_payable_GST'] * dict_['sales']
    cash = dict_['sales'] + pst_tax + gst_tax

    print("payable taxes ${:.2f} and ${:.2f}".format(pst_tax, gst_tax))
    print("Cash = ${:,}".format(cash))


def property_tax( dict_):
    tax_months = dict_['bill_data_month_number'] / 12
    current_property_tax_payable = dict_['property_tax_bill'] * tax_months

    remain = dict_['property_tax_bill'] - current_property_tax_payable

    print(f"Property tax payable (current) = ${current_property_tax_payable}")
    print(f" Remainder ${remain} ")


# --------
def debt_total_assets( dict_, dict_1 ):
    debt_assets = dict_['total_liabilities'] / dict_['total_assets']
    print("Debt to total assets = {:.2f}% ({})".format(debt_assets * 100, dict_['year']))

    debt_assets2 = dict_1['total_liabilities'] / dict_1['total_assets']
    print("Debt to total assets = {:.2f}% ({})".format(debt_assets2 * 100, dict_1['year']))


def interest_earned(dict_):
    times_interest_earned = (dict_['net_income'] + dict_['interest_expense'] + dict_['income_tax_expense'] ) / dict_['interest_expense'] 
    print("Times interest earned = {:.2f} times".format(times_interest_earned))


def shares_dividends( dict ):
    num_shares_issued = dict['common_shares'] * dict['stock_dividend']
    dividends_declared = num_shares_issued * dict['share_price']

    print(f"Number of shares to be issued: {num_shares_issued}")
    print("Dividends declared account = ${:,}".format(dividends_declared))


def share_surplus( dict ):
    contributed_surplus = dict['common_shares'] + dict['shares_issued']
    accum_other_income = dict['total_contributed_capital'] + dict['retained_earnings'] + contributed_surplus

    print(f"Contributed surplus = ${contributed_surplus}")
    print(f"Accumulated other comprehensive income = ${accum_other_income}")


def free_cashflow( array ):
    free_flow_1 = free_cash[0]['net_cash_operations'] - free_cash[0]['net_capital_expenditures'] - free_cash[0]['cash_dividends']
    year = free_cash[0]['year']

    free_flow_2 = free_cash[1]['net_cash_operations'] - free_cash[1]['net_capital_expenditures'] - free_cash[1]['cash_dividends']
    year2 = free_cash[1]['year']

    print("Free cash flow = ${:,} ({})".format(free_flow_1, year))
    print("Free cash flow = ${:,} ({})".format(free_flow_2, year2))


    



# --------------------------------
return_on_assets( company )
asset_turnover( company )
profit_margin( company )
sales_tax( company )
property_tax( company )

debt_total_assets( company_finance, company_finance2 )

interest_earned( expense )

# --------------
shares_dividends( shares_price)
share_surplus( surplus )

free_cashflow( free_cash )

Return on assets = 7.52%
Asset turnover = 0.82 times
Profit margin = 9.12%
payable taxes $700.00 and $500.00
Cash = $11,200.0
Property tax payable (current) = $1500.0
 Remainder $4500.0
Debt to total assets = 114.56% (2015)
Debt to total assets = 126.52% (2014)
Times interest earned = 3.72 times
Number of shares to be issued: 5000.0
Dividends declared account = $75,000.0
Contributed surplus = $41478
Accumulated other comprehensive income = $600102
Free cash flow = $473 (2015)
Free cash flow = $-463 (2014)

In [24]:
# --- end of chapter 10 -- bond maturity
present_value = 1e6
yearly_interest = (5/2) /100    # 5% / 2 years
n_periods = 4                   # 2 payments per yr * 2 yrs
table_pres_value = 0.90595           # calculate the present value using a table 
table_annuity_value = 3.76197         # present value of annuity 

pres_val = present_value * table_pres_value
pres_annuity = (present_value * yearly_interest) * table_annuity_value
pres_bond_value = pres_val + pres_annuity

print("Present value of (${:,}) is ${:,}".format(present_value, pres_val))
print("Present value for each {} periods = ${:,}".format(n_periods, pres_annuity))
print("Present bonds value price ${:.1f}".format(pres_bond_value) )

Present value of ($1,000,000.0) is $905,950.0
Present value for each 4 periods = $94,049.25
Present bonds value price $999999.2

In [34]:
# -- investments
fair_value = 48_000
carrying_amount_cost = 50_000

unrealized_gain_loss = fair_value - carrying_amount_cost 
print("Unrealized gain (loss) = ${:.2f}".format(unrealized_gain_loss))

Unrealized gain (loss) = $-2000.00

In [354]:
sales_cred = {
    'gross_sales': 100_000,
    'cash_sales': 20_000,
    'sales_returns': 5_000,
    'sales_allowances': 1_000,
    'accounts_receivable_start': 10_000,
    'accounts_receivable_end': 15_000
}

inventory = {
    'cost_of_goods_sold': 5e6,
    'begin_inventory_cost': 600_000,
    'end_inventory_cost': 400_000
}


equity = {
    'net_income': 59.5e9,
    'shareholder_equity_1': 107.1e9,
    'shareholder_equity_2': 134e9,
    'total_shareholder_equity': 0
}


def net_credit_sales( dict ):
    #  Net credit sales do not include any sales for which payment is made immediately in cash 
    # Sales returns = A credit issued to a customer, caused by a problem with a shipment or service provided to that customer.
    # Sales allowances = A reduction in the price charged to a customer, due to a problem
    sales_on_credit = dict['cash_sales'] + dict['sales_returns'] + dict['sales_allowances']
    net_cred = dict['gross_sales'] - sales_on_credit
    print("Net credit sales = ${:,}".format( net_cred ))

def receivables_turnover( dict ):
    # Net sales is calculated as sales on credit - sales returns - sales allowances
    # Average accounts receivable is calculated as the sum of starting and ending receivables over a set period of time (generally monthly, quarterly or annually), divided by two.
    # Net Annual Credit Sales ÷ Average Accounts Receivables = Accounts Receivables Turnover
    # --- a higher number is better. It means that your customers are paying on time and your company is good at collecting.
    acct_rec = ( dict['accounts_receivable_start'] + dict['accounts_receivable_end']  ) / 2

    rec_turn = (dict['gross_sales'] - dict['accounts_receivable_start']) / acct_rec
    print("Receivable turnover = {:.2f} times".format(rec_turn))

    avg_coll_period = 365 / rec_turn
    print("Average collection period = {:.2f} days".format(avg_coll_period))

def inventory_turnover( dict ):
    avg_inventory_cost = ( dict['begin_inventory_cost'] + dict['end_inventory_cost']) / 2
    cogs = dict['cost_of_goods_sold']
    inv_turn = cogs / avg_inventory_cost
    print("Inventory turnover = {:.2f} times a year".format(inv_turn))

    days_inventory = 365 / inv_turn
    print("Days in inventory  = {:.2f} times".format(days_inventory))




# -------
net_credit_sales( sales_cred )
receivables_turnover( sales_cred )

# ----
inventory_turnover( inventory )

Net credit sales = $74,000
Receivable turnover = 7.20 times
Average collection period = 50.69 days
Inventory turnover = 10.00 times a year
Days in inventory  = 36.50 times

In [371]:
equity = {
    'net_income': 59.5e9,
    'shareholder_equity_1': 107.1e9,
    'shareholder_equity_2': 134e9,
    'total_shareholder_equity': 0
}

# ======== PROFITABILITY 
def return_shareholder_equity( dict ):
    #  income statement and balance sheet
    # ret_shareholder_equity = ( dict['net_income'] - dict['preferred_dividends_declared'] ) / dict['average_common_shareholder_equity']
    tot_share_eq = ( dict['shareholder_equity_1'] + dict['shareholder_equity_2'] ) /2
    ret_shareholder_equity = ( dict['net_income'] / tot_share_eq )
    print("Return on shareholders equity  = {:.2f}% ".format(ret_shareholder_equity *100))


# ------
return_shareholder_equity( equity )

Return on shareholders equity  = 49.36%